.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.footer-items {
  text-align: center;
  margin: 0;
  padding: 0;
}

.footer {
  position: relative; 
  bottom: 0;
  margin-top: 5em;
  width: 100vw; 
}

.nav-items{
  padding-left: 1rem;
  padding-right: 1rem;
  color: lightgrey !important;
  font-size: large;
}

.navbar{
  margin-bottom: 10em;
}

.nav-border-left {
  margin-left: 2em;
  border-left: 1px solid silver;
}

.nav-link{
  text-decoration: none;
}

.main-header{ 
  font-family: 'Cera GR Medium', Fallback, sans-serif;
  color: #f87a7a;
  letter-spacing: .2rem;
  text-align: left;
  height:auto;
  margin-left: 1.5em;
}

.course-table{
  margin-left: 5px;
  margin-right: 5px;
}

.course-table tbody tr:hover{
  background-color: rgba(211, 211, 211, 0.425);
}

.active-table-row{
  background-color: rgba(224, 224, 224, 0.788);
}

.bordered-table-row{
  border-bottom: 1px solid black !important;
  padding:10px;
}


/*remove the borders*/
.table-row-info{
  border: white;
  color: #474747a9;
}

/*remove the hover*/
.table-row-info:hover{
  background-color: white !important;
}


.login-form{
 margin-right: 20vw;
 margin-left: 20vw;
 margin-bottom: 1em;
}

.studyplan-text{
  font-family: 'Cera GR Medium', Fallback, sans-serif;
  font-weight: 200;
}

.studyplan-text h2{
  font-size: 26px;
  font-weight: 400;
  margin-left: 5px;
}


.studyplan-text p{
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  padding-left: 10px;
}
